<!--/* 성능 향상을 위해서 Thymeleaf로 처리함 */-->
<table>
  <thead>
    <tr>
      <th th:each="column : ${columnList}" th:class="${column}">
        <!--/* No */-->
        <span th:if="${column == 'No'}" >No</span>
        <!--/* Important */-->
        <span th:if="${column == 'Important'}" ><i class="fa fa-star"></i></span>
        <!--/* Subject */-->
        <span th:if="${column == 'Subject'}" >Subject</span>
        <!--/* Service */-->
        <span th:if="${column == 'Service'}" >Service</span>
        <!--/* InquiryType */-->
        <span th:if="${column == 'InquiryType'}" >InquiryType</span>
        <!--/* Channel */-->
        <span th:if="${column == 'Channel'}" >Channel</span>
        <!--/* CreateDate */-->
        <span th:if="${column == 'CreateDate'}" >Create Date</span>
        <!--/* Assignee */-->
        <span th:if="${column == 'Assignee'}" >Assignee</span>
        <!--/* SolveDate */-->
        <span th:if="${column == 'SolveDate'}" >Solve Date</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in ticketList">
      <td th:each="column : ${columnList}" th:class="${column}">
        <!--/* No */-->
        <span th:if="${column == 'No'}" >{{ticket.no}}</span>
        <!--/* Important */-->
        <span th:if="${column == 'Important'}">
          <i ng-if="true === ticket.important" class="fa fa-star"></i>
          <i ng-if="true !== ticket.important" class="fa fa-star-o"></i>
        </span>
        <!--/* Subject */-->
        <span th:if="${column == 'Subject'}" >
          <span ng-if="ticket.hasNote">I</span>
          <span ng-if="ticket.isReInquiry">Re</span>
          {{ticket.subject}}
        </span>
        <!--/* Service */-->
        <span th:if="${column == 'Service'}" >{{ticket.serviceNo}}</span>
        <!--/* InquiryType */-->
        <span th:if="${column == 'InquiryType'}" >{{ticket.inquiryTypeNo}}</span>
        <!--/* Channel */-->
        <span th:if="${column == 'Channel'}" >{{ticket.channelNo}}</span>
        <!--/* CreateDate */-->
        <span th:if="${column == 'CreateDate'}" >{{ticket.createDate | date}}</span>
        <!--/* Assignee */-->
        <span th:if="${column == 'Assignee'}" >{{ticket.assignee}}</span>
        <!--/* SolveDate */-->
        <span th:if="${column == 'SolveDate'}" >{{ticket.solveDate | date}}</span>
      </td>
    </tr>
  </tbody>
</table>
