<div>
  <tabset>
    <tab ng-repeat="tab in tabList" mg-model="tab" tooltip="tab.tooltip" tooltip-animation="false">
      <tab-heading>{{tab.title}}</tab-heading>
      <div>
        <div>{{tab.tinymceOptions}}</div>
        <div>{{tab.content}}</div>
        <form name="tinymceTest" novalidate="">
          <textarea ui-tinymce="tinymceOptions" ng-model="tab.content"></textarea>
        </form>
      </div>
    </tab>
    <tab ng-click="addTab()">
      <tab-heading>Add Tab</tab-heading>
    </tab>
  </tabset>
</div>